.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-window {
    position: relative;
}
.modal-window-inner {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    width: 600px;
    padding: 20px;
    height: 600px;
    overflow-y: scroll;
}
.image-wrapper {
    
    background-color: #ddd6d6;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    width: 200px;
    align-self: center;
}
.image-wrapper > img {
    max-width: 200px;
    max-height: 200px;
   
}
.modal-window-inner > h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    color: white;
    font-size: 35px;
    padding: 5px;
    padding-left: 8px;
    padding-bottom: 10px;
    margin: 0%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
}
.image-wrapper > p {
    font-size: 0.8rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-image-container {
    display: flex;
    align-self: center;
    align-items: start;
    border: 1px solid black;
    background-color: #ddd6d6;
}
.modal-image-container > .image-wrapper {
    border: 0;
    align-self: start;
}
.info-text, ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.modal-window-inner > h1 {
    text-align: center;
}
.modal-window-inner > h2 {

    border-top: 5px solid #252424;
    padding-top: 10px; 
}
.warning-text {
    color: #b92a2a;
}