body {
  margin: 0;
}

#viewport-aligner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#viewport-wrapper {
  position: relative;
  padding-top: 4px;
}

#viewport {
  border: solid 1px black;
}

#settings-icon,
#trash-can-icon,
#build-min-quadrangle,
#enable-editing-points-mode-btn,
#disable-editing-points-mode-btn,
#help-icon {
  position: absolute;
  top: 15px;
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

#settings-icon {
  right: 10px;
}

#build-min-quadrangle {
  right: calc(10px + 70px);
}

#enable-editing-points-mode-btn,
#disable-editing-points-mode-btn {
  right: calc(10px + 2 * 70px);
}

#help-icon {
  right: calc(10px + 3 * 70px);
}

#trash-can-icon {
  left: 10px;
  height: 45px;
  padding-bottom: 10px;
}

@media (hover: hover) {
  #trash-can-icon:hover {
    filter: brightness(1.2);
  }
}

#settings {
  position: absolute;
  right: 10px;
  top: 70px;

  margin-top: 15px;
  padding: 10px;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  -webkit-box-shadow: -8px 10px 20px 8px rgba(158, 158, 158, 1);
  -moz-box-shadow: -8px 10px 20px 8px rgba(158, 158, 158, 1);
  box-shadow: -8px 10px 20px 8px rgba(158, 158, 158, 1);

  max-height: 70%;
  overflow: scroll;
  overflow-x: hidden;
}

#settings::before {
  content: '';
  display: block;
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-bottom: 10px solid black;
  border-right: 10px solid transparent;

  position: absolute;
  right: 30px;
  transform: translate(50%, calc(-100% - 10px));
}

.setting {
  display: grid;
  grid-template-columns: 35px 225px 50px;
  align-items: center;
}

.setting2 {
  display: grid;
  grid-template-columns: 35px 125px 150px;
  align-items: center;
}

.setting2>img {
  width: 20px;
}

.setting-header {
  display: grid;
  grid-template-columns: 310px;
  align-items: center;
}

.setting-header>* {
  text-align: center;
  font-weight: bold;
  border-top: 3px solid rgb(220, 220, 220);
  padding-top: 3px;
}

.settings-btn {
  width: fit-content;
}

.dropdown-icon {
  display: flex;
  width: 25px;
  align-items: center;
  cursor: pointer;

  position: relative;
}

.dropdown-icon .list-of-icons {
  display: none;

  position: absolute;
  top: 100%;
  background-color: whitesmoke;
}

.dropdown-icon .list-of-icons .list-item {
  display: flex;
  width: 25px;
  align-items: center;
  padding: 3px 0;
  box-sizing: border-box;
  background-color: rgb(200, 200, 200);
}

.dropdown-icon .dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5px;
  font-size: 0.75rem;
  margin-left: -3px;
}

.crosshair-cursor:hover {
  cursor: crosshair;
}